.app {
    display: flex;
    width: 300px;
    min-height: 200px;
    position: relative;
    left: 50%;
    margin-left: -150px;
    top: 100px;
    border: 1px solid #e5e5e5;
    padding: 8px;
}

.app:focus-within {
    outline: 2px solid #1bc47d;
    outline-offset: -2px;
}
.textarea {
    width: calc(100% - 20px);
    font: 11px/16px "Open Sans";
    padding-left: 4px;
}

.textarea:focus {
    outline: 0;
}

.bullets {
    width: 16px;
}

.bullet {
    padding: 5px;
    box-sizing: border-box;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: #ccc;
    border-radius: 100px;
}
